### IntelliJ IDEA ###
.idea/
/target/

# Excepciones: No ignorar los archivos de configuración esenciales
!/.idea/misc.xml         # Versión del SDK/JDK (MUY IMPORTANTE)
!/.idea/modules.xml      # Estructura del módulo
!/.idea/vcs.xml          # Configuración de las raíces de control de versiones
!/.idea/*.iml            # Archivos de módulo generados

out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store